Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_string="zainab"
my_list=["zainab",7,True,7+9j]
my_float=0.14
my_tuple=("apple","banana","apple","cherry")

Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS', 'ML' , 'Python' ]
(iv) var4 = 1
What will be the data type of the above given variable.

In [2]:
var1=''
var2='[ DS , ML , Python]'
var3=['DS', 'ML' , 'Python' ]
var4 = 1
print("Type of var1 is:",type(var1))
print("Type of var2 is:",type(var2))
print("Type of var3 is:",type(var3))
print("Type of var4 is:",type(var4))

Type of var1 is: <class 'str'>
Type of var2 is: <class 'str'>
Type of var3 is: <class 'list'>
Type of var4 is: <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# (i)
# / is used for division
# ex:on dividing 8 by 6 we get quotient as 1.3333333333333333
8/6

1.3333333333333333

In [4]:
# (ii)
# % is remainder operator 
# ex:on dividing 8 by 6 we get remainder as 2
8%6

2

In [5]:
# (iii)
# // is used for floor division 
# ex:on dividing 8 by 6 we get quotient as 1.3333333333333333 on rounding it to nearest integer its 1.

8//6

1

In [6]:
# (iv)
# ** is used for calculating the power
# ex:8 to the power 6 is 262144

8**6

262144

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
my_list=[10,30,79,87,True,False,3+7j,9+8j,"Apple","Banana"]
for i in my_list:
    print(i,type(i))

10 <class 'int'>
30 <class 'int'>
79 <class 'int'>
87 <class 'int'>
True <class 'bool'>
False <class 'bool'>
(3+7j) <class 'complex'>
(9+8j) <class 'complex'>
Apple <class 'str'>
Banana <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
A=int(input("Enter value for A:"))
B=int(input("Enter value for B:"))
quotient=0
while A>=B:
    A-=B
    quotient+=1
if A==0:
    print("A is purely divisible by B")
    print("Quotient is equal to:",quotient)
else:
 print("A is not purely divisible by B")

Enter value for A: 8
Enter value for B: 4

A is purely divisible by B
Quotient is equal to: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
my_list=list(range(5,30))
for i in my_list:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3
26  is not divisible by 3
27  is divisible by 3
28  is not divisible by 3
29  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [10]:
#Mutability:Ability to change data at a particular index of a datatype.ex:object of string datatype is a immutable object,while list is mutable.
#List-mutable
l=[12,True,7+9j,"class"]
l[2]=7+4j
print(l)
#string-immutable
s="string"
s[0]="j"

[12, True, (7+4j), 'class']

TypeError: 'str' object does not support item assignment